.page{
    padding: 2rem 1rem;

    &__text{
        font-size: 0.9rem;
    }

    &__title{
        padding: 2rem 0;
        font-size: 1.7rem;
    }

    &__subtitle{
        margin-bottom: 1rem;
    }
}

.table{
    border: solid 1px #ddd;

    &__header{
        background-color: #ccc;
    }

    &__title{
        padding: 0.5rem;
    }

    &__body{
        background-color: rgb(247, 247, 247);
    }

    &__cell{
        text-align: center;
        padding: 0.5rem;
    }
}